# Web scraping y navegador automatizado
selenium
webdriver-manager
requests
beautifulsoup4

# Base de datos
psycopg2-binary

# Programación y tareas recurrentes
apscheduler
python-dotenv

# OpenAI API client 
openai
azure-ai-ml

# Procesos en consola
tqdm